.App {
  background-color: blue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerBox {
  display: contents;
}

.sidenavCarousel {
  display: flex;
  margin-left: 3px;
}

.divCarousel {
  width: 75vw;
}

.carousel {
  display: contents;
}
.navbarbellow {
  display: flex;
  justify-content: center;
}
